[submodule "Backend"]
	path = Backend
	url = git@github.com:samnatasuvamoy99/Backend_cortexmark.git
[submodule "Frontend"]
	path = Frontend
	url = git@github.com:samnatasuvamoy99/Frontend_cortexmark.git
